<!-- <ion-icon name="close-outline" (click)="modal.dismiss()"></ion-icon> -->
<!-- <img  [src]="getImgUrl(url)" class="rotate"/> -->

<!-- <ion-icon *ngIf="type === 'video'"  class="icon-up"  name="chevron-up-outline" (click)="decreaseIndex()"></ion-icon>

<ion-icon  *ngIf="type === 'img'" class="icon-left" name="chevron-back-outline"  (click)="decreaseIndex()"></ion-icon> -->

<!-- <div style="height: 100%;
  padding: 0%;" (touchstart)="onTouchStart($event)" (touchend)="onTouchEnd($event)"> -->

<div class="gallery-slider">
  <div class="gallery-swiper-container" >
    <div class="swiper-wrapper">

      <div class="swiper-slide" *ngFor="let gal of gallery;let i=index;"   >

      <app-full-screen-modal [url]="gal.url" [type]="gal.type" style="height: 100%;
      padding: 0%;" [palyVideo]="i === activeIndex"></app-full-screen-modal>

      </div>
    </div>

  </div>
</div>
<!-- </div> -->


<!-- <ion-icon  *ngIf="type === 'img'" class="icon-right" name="chevron-forward-outline"  (click)="increaseIndex()"></ion-icon>

<ion-icon *ngIf="type === 'video'"  class="icon-down"  name="chevron-down-outline"  (click)="increaseIndex()"></ion-icon> -->
