
.card-title {
  padding-bottom: 5px;
  --color: var(--ion-color-primary) !important;
  font-weight: bold;
}

.card-sub-title {
  --color: var(--ion-color-primary) !important;
}

ion-card {
  background: white;
  border-radius: 10px;

}


img {

  height: 28vh;
}

ion-fab-button {
  --background: orange;
    --color: var(--ion-color-primary);
}

a {
  color: var(--ion-color-primary);
  font-size: 18px;
  text-decoration: none;
}

.no-courses {
  text-align: center;
    margin: 20px;
}

ion-spinner {
  width: 60px;
  height: 60px;
}
