
.card-title {
  padding-bottom: 5px;
  --color: white !important;
}

.card-sub-title {
  --color: lightgrey !important;
}

ion-card {
  background: black;
}


img {

  height: 60%;
}

ion-fab-button {
  --background: orange;
    --color: black;
}

a {
  color: black;
  font-size: 18px;
  text-decoration: none;
}

.no-courses {
  text-align: center;
    margin: 20px;
}

ion-spinner {
  width: 60px;
  height: 60px;
}