<app-header></app-header>

<ion-content [fullscreen]="true">
  <ion-grid style="padding-bottom: 0px; height: 37%;">
    <!-- <ion-row>
      <ion-col class="ion-text-center" style="font-size: 20px;">
        To login to tds academy press <a style="padding-left: 3px;
        color: orange;"> Here </a>.
      </ion-col>
    </ion-row> -->
    <ion-row>
      <ion-col class="ion-text-center">
        <img src="assets/academy.png" class="category-img"/>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-segment value="current" color="dark" mode="md" [(ngModel)]="segmentValue">
    <ion-segment-button value="current">
      <ion-label>Upcoming Courses</ion-label>
    </ion-segment-button>
    <ion-segment-button value="old">
      <ion-label>Our Courses</ion-label>
    </ion-segment-button>
  </ion-segment>



<ion-grid *ngIf="(segmentValue === 'current' ? currentCourses.length : oldCourses.length); else noCourses">
  <ion-row *ngFor="let course of (segmentValue === 'current' ? currentCourses : oldCourses)">
    <ion-col>
      <ion-card class="ion-padding" [routerLink]="['/course-details',{course_id: course.id}]">
        <ion-card-title class="card-title">
          {{course.title}}
        </ion-card-title>
        <ion-card-subtitle class="card-sub-title">
          {{course.startDate | date: 'mediumDate'}} -  {{course.endDate | date: 'mediumDate'}}
        </ion-card-subtitle>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>

<ng-template #noCourses>
  <div class="flex flex-column align-items-center" style="margin-top: 20px">
    <ion-spinner *ngIf="loading" color="medium"></ion-spinner>
    <p *ngIf="!loading" class="no-courses">No available course</p>
  </div>
</ng-template>

<ion-fab vertical="bottom" horizontal="end" class="add-fab" slot="fixed">
  <ion-fab-button>
    <a href="https://www.facebook.com/tds.dental.academy?mibextid=ZbWKwL" target="_blank">Login</a>
  </ion-fab-button>
</ion-fab>

</ion-content>
