.header-title {
  font-family: serif;
  font-size: 35px;
  padding-left: 2%;
}

.cart-icon {
  scale: 1.5;
}

.logo-icon {
  max-width: 15%;
  padding-left: 1%;
}

.cart-counter {
  position: absolute;
  top: -5px;
  right: -6px;
  background: red;
  color: white;
  font-size: 12px;
  padding: 2px 4px;
  border-radius: 10px;
 }
