.unread {
  --background: lightgrey;
}

.read {
  --background: whitesmoke;
}

ion-label {
  padding-bottom: 5px;
}

h2 {
  font-size: 20px !important;
  padding-bottom: 2px;

}

p {
  font-size: 15px !important;
  padding-bottom: 2px;

}


.icon-div {
  text-align: center;
  margin-top: 25%;
}
