.unread {
  --background: var(--ion-color-medium) !important;
}

.read {
  --background: #EEEE !important;
}

ion-label {
  padding-bottom: 5px;
}

h2 {
  font-size: 20px !important;
  padding-bottom: 2px;

}

p {
  font-size: 15px !important;
  padding-bottom: 2px;

}


.icon-div {
  text-align: center;
  margin-top: 25%;
}


ion-list {
  background: none;
}
