<ion-header>

</ion-header>




<ion-content style="--background: none !important; z-index: 100000;">

  <div class="half-part" [ngClass]="{hidden: splashMode}" >
    <ion-grid>
      <ion-row class="ion-text-center" style="justify-content: center; padding-top: 15%;" [ngClass]="{'extra-margin': forceUpdate }">
        <div class="button-container">
          <ion-button *ngIf="!forceUpdate" expand="block" class="main-button" (click)="navigateToTabs()">Continue as Guest</ion-button>
          <ion-button *ngIf="!forceUpdate" expand="block" class="main-button" routerLink="/login" routerDirection="forward">Log in</ion-button>
          <ion-button *ngIf="!forceUpdate" expand="block" color="dark" fill="clear" routerLink="/signup" routerDirection="forward">Don't have acccount ? Signup</ion-button>
          <ion-button *ngIf="forceUpdate" expand="block" class="main-button" (click)="forceUpdateLogic()">Update the App To continue</ion-button>
        </div>
      </ion-row>
    </ion-grid>


  </div>

</ion-content>

<div class="background"><img src="assets/flexera-background.png"/></div>
<div class="background-1"><img src="assets/flexera-color.png"/></div>
<div class="background-2"><img src="assets/flexera-color.png"/></div>
