<app-header></app-header>


<ion-content [fullscreen]="true">
<ion-grid>

  <ion-row>
    <p class="intro">
      TDS - Home of Eighteeth Medical, Deppeler Swiss🇨🇭& Fanta-Dental Range of Products in Egypt.
    </p>
  </ion-row>

  <ion-row>
    <ion-item-divider style="margin-top: -30px; margin-bottom: 20px">
    </ion-item-divider>
    <img src="assets/logo-full-5.png"/>
    <ion-item-divider style="margin-top: -10px;">
    </ion-item-divider>
  </ion-row>
  <ion-row>

  <!-- <div style="margin-top: 5px;">

    <span style="margin-right: 5px; margin-left: 15px;">Are you facing an issue?</span>
    <a style="text-decoration: underline;" routerLink="/submit-complaint" routerDirection="forward">Submit Complaint</a>

  </div> -->
  </ion-row>
  <ion-grid class="info-grid">
    <a href="https://www.google.com/maps/dir/?api=1&destination=30.057129536899573,31.326772168922165&travelmode=driving">
  <ion-row>
    <ion-col size="1.5" >
        <ion-icon name="home" class="info-icon"></ion-icon>
    </ion-col>
    <ion-col >
      <ion-row>
        <ion-label class="main-info-label">70 El-Tayaran St. - in Front of Mogama’ El-Bohos El-Islamya, Nasr City - Cairo, Egypt., Cairo, Egypt
        </ion-label>
      </ion-row>
      <ion-row>
        <ion-label class="sub-info-label">
          Address
        </ion-label>
      </ion-row>
    </ion-col>
  </ion-row>
</a>

  <a href="tel:+201224480140">
  <ion-row class="info-row">
    <ion-col size="1.5" >
        <ion-icon name="call" class="info-icon"></ion-icon>
    </ion-col>
    <ion-col size="3.5">
      <ion-row>
        <ion-label class="main-info-label">
          1224480140
        </ion-label>
      </ion-row>
      <ion-row>
        <ion-label class="sub-info-label">
          Phone
        </ion-label>
      </ion-row>
    </ion-col>

  </ion-row>
</a>

</ion-grid>
<!-- <ion-row class="social-row">
  <a href="https://www.facebook.com/TDSthedentalstore?mibextid=ZbWKwL" target="_blank">
    <ion-icon name="logo-facebook" class="social-icon facebook-icon" ></ion-icon>
  </a>
  <a href="https://api.whatsapp.com/send?phone=0201090737501&text=I need support please!"  target="_blank">
    <ion-icon name="logo-whatsapp" class="social-icon  whatsapp-icon"></ion-icon>
  </a>
  <a href="https://instagram.com/tds_thedentalstore?igshid=MXZhNzVtZHhta2YzMQ==" target="_blank">
    <ion-icon name="logo-instagram" class="social-icon instgram-icon"></ion-icon>
  </a>
</ion-row> -->

</ion-grid>
</ion-content>
<div style="position: fixed;
bottom: 0px;
text-align: center;
width: 100%;">
<div>
  <div style="    margin-bottom: -25px;">
    <a href="https://www.facebook.com/TDSthedentalstore?mibextid=ZbWKwL" target="_blank">
      <ion-icon name="logo-facebook" class="social-icon facebook-icon" ></ion-icon>
    </a>
    <a href="https://api.whatsapp.com/send?phone=0201090737501&text=I need support please!"  target="_blank">
      <ion-icon name="logo-whatsapp" class="social-icon  whatsapp-icon"></ion-icon>
    </a>
    <a href="https://instagram.com/tds_thedentalstore?igshid=MXZhNzVtZHhta2YzMQ==" target="_blank">
      <ion-icon name="logo-instagram" class="social-icon instgram-icon"></ion-icon>
    </a>
    <a routerLink="/submit-complaint" routerDirection="forward">
      <ion-icon name="help-circle" class="social-icon help-icon"></ion-icon>
      <!-- <ion-icon name="chatbox-ellipses" class="social-icon help-icon"></ion-icon> -->
    </a>
  </div>


  <p class="version-text">
    Version 1.0
  </p>
  <p class="cp-text" style="margin-top: -10px;">
    © Copyright 2023 TDS. All rights reserved.
  </p>
</div>
</div>
