
<ion-content >
  <app-header></app-header>

  <ion-title *ngIf="product" class="product-title ion-text-center">{{selectedSize ? selectedSize.name : product.name}}</ion-title>

    <div class="category-slider">
      <div class="swiper-container" >
        <div class="swiper-wrapper">

          <div class="swiper-slide" *ngFor="let galleryItem of product?.gallery;let i=index;">
            <img *ngIf="galleryItem.type === 'img'" [src]="getImgUrl(galleryItem.url)" [id]="'img' + i" (click)="openImageViewer(galleryItem, i)">
            <video [id]="'video' + galleryItem.id" *ngIf="galleryItem.type === 'video'" width="100%" height="auto" (click)="openImageViewer(galleryItem, i)">
              <source [src]="getImgUrl(galleryItem.url)" type="video/mp4">
              Your browser does not support the video tag.
            </video>
            <!-- <iframe *ngIf="galleryItem.type === 'video'" [src]="getImgUrl(galleryItem.url) | safe:'resourceUrl'" ></iframe> -->
            <!-- <video *ngIf="swiper.activeIndex !== i && galleryItem.type === 'video'"   [muted]="'muted'" width="100%" height="auto" controls >
              <source [src]="getImgUrl(galleryItem.url)" type="video/mp4">
              Your browser does not support the video tag.
            </video> -->
            <ion-icon *ngIf="galleryItem.type === 'video'" name="play" class="play-icon"  (click)="openImageViewer(galleryItem, i)"></ion-icon>
          </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>

      </div>
    </div>

    <ion-segment *ngIf="product" value="current" color="dark" mode="md" [(ngModel)]="segmentValue" style="z-index: 90000;" (ionChange)="segmentClicked()">
      <ion-segment-button value="description" *ngIf="product.sizes.length === 0 || product.warranty > 0" >
        Description
      </ion-segment-button>
      <ion-segment-button value="warranty" *ngIf="product.warranty > 0">
        Warranty
      </ion-segment-button>
      <ion-segment-button value="maintenance" *ngIf="product.maintenance">
        How To Use ?
      </ion-segment-button>
    </ion-segment>

    <ion-grid *ngIf="product">
      <ion-list style="width: 100%; background: none;" *ngIf="product.sizes.length > 0 && segmentValue==='description'">
        <ion-item style="--border-color: var(--ion-color-primary);     margin-right: 3%;">
          <ion-select label="Select Product Size*" label-placement="floating" interface="popover" mode="md"  [(ngModel)]="selectedSize">
            <ion-select-option *ngFor="let size of product.sizes;" [value]="size">{{ size.name }} </ion-select-option>
          </ion-select>

        </ion-item>
      </ion-list>
      <ion-row *ngIf="segmentValue === 'description'">
        <div class="button-container price " [ngClass]="{'old-price' : (selectedSize ? selectedSize.price !== selectedSize.priceAfterDiscount :  product.price !== product.priceAfterDiscount)}">
          {{ selectedSize ? selectedSize.price :  product.price}} EGP
          </div>
          <div class="button-container price " *ngIf="selectedSize ? selectedSize.price !== selectedSize.priceAfterDiscount :  product.price !== product.priceAfterDiscount">
            {{ selectedSize ? selectedSize.priceAfterDiscount :  product.priceAfterDiscount}} EGP
            </div>
      </ion-row>
      <ion-row class="button-container description" *ngIf="segmentValue === 'warranty'">
        <div >Product Warranty: {{product.warranty}} Year</div>
      </ion-row>
      <ion-row *ngIf="segmentValue === 'description'">

        <div [innerHTML]="selectedSize ? (selectedSize.longDescription | safeHtml) : (product.longDescription | safeHtml)" class="button-container description"></div>

      </ion-row>
      <ion-row  *ngIf="segmentValue === 'maintenance'" >

        <div [innerHTML]="product.maintenance | safeHtml" class="button-container description">

        </div>
      </ion-row>

      <ion-row class="ion-text-center buttons-bottom " style="justify-content: center;">
        <div class="button-container">
          <ion-row class="ion-text-center " style="justify-content: center;" *ngIf="productCounter > 0">
            <ion-button expand="block" class="main-button plus-minus-button" (click)="removeProduct()">-</ion-button>
            <span class="product-counter">{{productCounter}}</span>
            <ion-button expand="block" class="main-button plus-minus-button" (click)="addProduct()">+</ion-button>
          </ion-row>
        <ion-button expand="block" class="main-button"
         [disabled]="((product.sizes.length > 0 && !selectedSize) || (product.sizes.length > 0 && selectedSize && selectedSize.available.toString() === 'false') || (product.sizes.length === 0 && product.available.toString() === 'false')) && product.preBooking !== 'true'"
          (click)="addProduct()" *ngIf="productCounter === 0">{{ (product.sizes.length > 0 && selectedSize && selectedSize.available.toString() === 'false') || (product.sizes.length === 0 && product.available.toString() === 'false') ? (product.preBooking === 'true' ? 'Pre Booking' : 'Out of Stock') :
            (product.sizes.length > 0 && !selectedSize ? 'Select product size' : 'Add to cart')}} </ion-button>
        <ion-button expand="block" class="main-button" id="open-modal" *ngIf="product.installmentPlan" (click)="isModalOpen = true">View Installment Plan</ion-button>
        </div>
      </ion-row>

    </ion-grid>

    <ion-modal id="plan-modal" #modal [isOpen]="isModalOpen" [backdropDismiss]="false">
      <ng-template>
        <ion-content>
          <ion-toolbar>
            <ion-title>Installment Plan</ion-title>
            <ion-buttons slot="end">
              <ion-button color="light" (click)="isModalOpen = false">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
          <div style="padding-left: 16px; line-height: 35px;" [innerHTML]="product.installmentPlan | safeHtml">
          </div>
          <div style="padding: 16px;">To use installment plans please contact us on:
          <div class="whats-contact">
            <a [href]="whatsappLink"  target="_blank">
              <ion-icon name="logo-whatsapp" class="social-icon  whatsapp-icon"></ion-icon>
            </a>
            <a [href]="whatsappLink" style="text-decoration: none;"  target="_blank">
              <b>02 01090737501</b>
            </a>
          </div>
        </div>
        </ion-content>
      </ng-template>
    </ion-modal>

    <ion-toast
    [isOpen]="isToastOpen"
    [message]="toastMessage"
    [duration]="2000"
    (didDismiss)="isToastOpen = false"
    position="middle"
  ></ion-toast>

<ion-alert
[isOpen]="isAlertOpen"
message="You need to login first to be able to add products to cart."
[buttons]="['OK']"
(didDismiss)="isAlertOpen = false"
></ion-alert>


 </ion-content>
