<app-header></app-header>

<ion-content>
  <ion-title class="product-title">Hyper Light</ion-title>
    <div class="category-slider ion-padding-start">
      <div class="swiper-container" >
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <img src="assets/products/hyper-light.jpeg">
          </div>
          <div class="swiper-slide">
            <video *ngIf="swiper.activeIndex === 1" width="100%" height="auto" controls autoplay>
              <source src="assets/products/test2.mp4" type="video/mp4">
              Your browser does not support the video tag.
            </video>
            <video *ngIf="swiper.activeIndex !== 1" width="100%" height="auto" controls>
              <source src="assets/products/test.mp4" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </div>
          <div class="swiper-slide">
            <img src="assets/products/hyper-light.jpeg">
          </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>

      </div>
    </div>
    <ion-grid>
      <ion-row>
        <div class="button-container price">
        1000 EGP
        </div>
      </ion-row>
      <ion-row>
        <div class="button-container description">
        Portable X-Ray Unit
        <br>
        Focal spot: 0.4mm
        <br>
        Tube Voltage: 65KV
        <br>
        Tube Current: 2mA
        <br>
        Weight: 1.8KG
        <br>
        Battery: 2000mAH*4
        <br>
        Exposure Time Range: 0.02-2 Sec
        <br><br>
        Engineered for Accurate Images
        Designed with Safety in Mind
        </div>
      </ion-row>

      <ion-row class="ion-text-center buttons-bottom " style="justify-content: center;">
        <div class="button-container">
          <ion-row class="ion-text-center " style="justify-content: center;" *ngIf="productCounter > 0">
            <ion-button expand="block" class="main-button plus-minus-button" (click)="removeProduct()">-</ion-button>
            <span class="product-counter">{{productCounter}}</span>
            <ion-button expand="block" class="main-button plus-minus-button" (click)="addProduct()">+</ion-button>
          </ion-row>
        <ion-button expand="block" class="main-button" (click)="addProduct()" *ngIf="productCounter === 0">Add to cart</ion-button>
        <ion-button expand="block" class="main-button" id="open-modal">View Installment Plan</ion-button>
        </div>
      </ion-row>

    </ion-grid>

    <ion-modal id="plan-modal" #modal trigger="open-modal">
      <ng-template>
        <ion-content>
          <ion-toolbar>
            <ion-title>Installment Plan</ion-title>
            <ion-buttons slot="end">
              <ion-button color="light" (click)="modal.dismiss()">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
          <p class="ion-padding">
            You will pay 200 pounds in advance.
          </p>
          <p class="ion-padding">
            Then 200 pounds in installments for 10 months
          </p>
          <p class="ion-padding">
            Or 400 pounds in installments for 5 months.
          </p>
        </ion-content>
      </ng-template>
    </ion-modal>


 </ion-content>
