<app-header></app-header>

<ion-content *ngIf="product">
  <ion-title class="product-title ion-text-center">{{product.name}}</ion-title>

    <div class="category-slider ion-padding-start">
      <div class="swiper-container" >
        <div class="swiper-wrapper">

          <div class="swiper-slide" *ngFor="let galleryItem of product.gallery;let i=index;">
            <img *ngIf="galleryItem.type === 'img'" [src]="getImgUrl(galleryItem.url)">
            <video *ngIf="swiper.activeIndex === i && galleryItem.type === 'video'" width="100%" height="auto" controls autoplay>
              <source [src]="getImgUrl(galleryItem.url)" type="video/mp4">
              Your browser does not support the video tag.
            </video>
            <video *ngIf="swiper.activeIndex !== i && galleryItem.type === 'video'" width="100%" height="auto" controls>
              <source [src]="getImgUrl(galleryItem.url)" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>

      </div>
    </div>

    <ion-segment value="current" color="dark" mode="md" [(ngModel)]="segmentValue">
      <ion-segment-button value="description">
        <ion-label>Description</ion-label>
      </ion-segment-button>
      <ion-segment-button value="warranty" *ngIf="product.warranty > 0">
        <ion-label>Warranty</ion-label>
      </ion-segment-button>
      <ion-segment-button value="maintenance" >
        <ion-label>Maintenance</ion-label>
      </ion-segment-button>
    </ion-segment>

    <ion-grid>
      <ion-row *ngIf="segmentValue === 'description'">
        <div class="button-container price " >
          {{product.price}} EGP
          </div>
      </ion-row>
      <ion-row class="button-container description" *ngIf="segmentValue === 'warranty'">
        <div >Product Warranty: {{product.warranty}}</div>
      </ion-row>
      <ion-row *ngIf="segmentValue === 'description'">
        <div [innerHTML]="product.longDescription" class="button-container description"></div>

      </ion-row>
      <ion-row  *ngIf="segmentValue === 'maintenance'" >

        <div [innerHTML]="product.maintenance" class="button-container description">

        </div>
      </ion-row>

      <ion-row class="ion-text-center buttons-bottom " style="justify-content: center;">
        <div class="button-container">
          <ion-row class="ion-text-center " style="justify-content: center;" *ngIf="productCounter > 0">
            <ion-button expand="block" class="main-button plus-minus-button" (click)="removeProduct()">-</ion-button>
            <span class="product-counter">{{productCounter}}</span>
            <ion-button expand="block" class="main-button plus-minus-button" (click)="addProduct()">+</ion-button>
          </ion-row>
        <ion-button expand="block" class="main-button" (click)="addProduct()" *ngIf="productCounter === 0">Add to cart</ion-button>
        <ion-button expand="block" class="main-button" id="open-modal">View Installment Plan</ion-button>
        </div>
      </ion-row>

    </ion-grid>

    <ion-modal id="plan-modal" #modal trigger="open-modal">
      <ng-template>
        <ion-content>
          <ion-toolbar>
            <ion-title>Installment Plan</ion-title>
            <ion-buttons slot="end">
              <ion-button color="light" (click)="modal.dismiss()">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
          <div style="padding-left: 16px; line-height: 35px;" [innerHTML]="product.installmentPlan">
          </div>
          <div style="padding: 16px;">To use any of these installment plans please contact us on:
          <div class="whats-contact">
            <a [href]="whatsappLink"  target="_blank">
              <ion-icon name="logo-whatsapp" class="social-icon  whatsapp-icon"></ion-icon>
            </a>
            <a [href]="whatsappLink" style="text-decoration: none;"  target="_blank">
              <b>02 01090737501</b>
            </a>
          </div>
        </div>
        </ion-content>
      </ng-template>
    </ion-modal>

    <ion-toast
    [isOpen]="isToastOpen"
    [message]="toastMessage"
    [duration]="2000"
    (didDismiss)="isToastOpen = false"
    position="middle"
  ></ion-toast>

<ion-alert
[isOpen]="isAlertOpen"
message="You need to login first to be able to add products to cart."
[buttons]="['OK']"
(didDismiss)="isAlertOpen = false"
></ion-alert>


 </ion-content>
