<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="backbtn" routerLink="/welcome" routerDirection="back">
        <img src="assets/back-dark.svg" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="ion-padding container">
    <h1>Signup</h1>
    <form [formGroup]="signupForm" (ngSubmit)="signup()">

    <div class="form-container">

      <ion-list>
        <ion-item [ngClass]="{'invalid': title?.invalid && (title?.dirty || title?.touched)}">
          <ion-select label="Title *" label-placement="floating" interface="popover" mode="md" formControlName="title">
            <ion-select-option value="Mr.">Mr.</ion-select-option>
            <ion-select-option value="Dr.">Dr.</ion-select-option>
            <ion-select-option value="TA.">TA.</ion-select-option>
            <ion-select-option value="Prof.">Prof.</ion-select-option>
          </ion-select>

        </ion-item>
      </ion-list>
      <div class="error-container" *ngIf="title?.invalid && (title?.dirty || title?.touched)">
        <span>
          Title is required
        </span>
      </div>

      <ion-item>
        <ion-label position="floating">Full Name *</ion-label>
        <ion-input formControlName="name"></ion-input>
      </ion-item>
      <div class="error-container" *ngIf="name?.invalid && (name?.dirty || name?.touched)">
        <span *ngIf="name?.errors?.required">
          Full Name is required
        </span>
      </div>

      <ion-item>
        <ion-label position="floating">Email *</ion-label>
        <ion-input formControlName="email"></ion-input>
      </ion-item>
      <div class="error-container" *ngIf="email?.invalid && (email?.dirty || email?.touched)">
        <span *ngIf="email?.errors?.required">
          Email is required
        </span>
        <span *ngIf="email?.errors?.pattern">
          Please enter a valid email address
        </span>
      </div>

      <ion-item>
        <ion-label position="floating">Phone *</ion-label>
        <ion-input formControlName="phone" type="tel"></ion-input>
      </ion-item>
      <div class="error-container" *ngIf="phone?.invalid && (phone?.dirty || phone?.touched)">
        <span *ngIf="phone?.errors?.required">
          Phone is required
        </span>
        <span *ngIf="phone?.errors?.pattern">
          Please enter a valid phone number
        </span>
      </div>

      <ion-item>
        <ion-label position="floating">Password *</ion-label>
        <ion-input formControlName="password" type="{{ showPassword ? 'text' : 'password' }}"></ion-input>
        <ion-icon name="{{ showPassword ? 'eye-off' : 'eye' }}" slot="end" (click)="togglePasswordVisibility()"></ion-icon>
      </ion-item>
      <div class="error-container" *ngIf="password?.invalid && (password?.dirty || password?.touched)">
        <span *ngIf="password?.errors?.required">
          Password is required
        </span>
        <span *ngIf="password?.errors?.pattern">
          Password must contain one digit from 1 to 9, one lowercase letter, one uppercase letter, one special character, no space, and it must be 8-16 characters long.
        </span>
      </div>

      <br>

      <ion-item lines="none" (click)="showAdditional = !showAdditional">
        <h3>Optional Info</h3>
        <ion-icon  name="{{ showAdditional ? 'caret-down-outline' : 'caret-forward-outline' }}" slot="end" ></ion-icon>
      </ion-item>



      <br>

        <ion-item *ngIf="showAdditional">
          <ion-label position="floating">Address</ion-label>
          <ion-input formControlName="address"></ion-input>
        </ion-item>

        <ion-item *ngIf="showAdditional">
          <ion-label position="floating">Age</ion-label>
          <ion-input type="number" formControlName="age"></ion-input>
        </ion-item>

        <ion-list *ngIf="showAdditional">
          <ion-item>
            <ion-select formControlName="speciality" label="Speciality" label-placement="floating" interface="popover" mode="md">
              <ion-select-option value="GP">GP</ion-select-option>
              <ion-select-option value="Restorative">Restorative</ion-select-option>
              <ion-select-option value="Endodontics">Endodontics</ion-select-option>
              <ion-select-option value="Prosthodontics">Prosthodontics</ion-select-option>
              <ion-select-option value="Surgery">Surgery</ion-select-option>
              <ion-select-option value="Implantology">Implantology</ion-select-option>
              <ion-select-option value="Pedodontics">Pedodontics</ion-select-option>
              <ion-select-option value="Orthodontics">Orthodontics</ion-select-option>
              <ion-select-option value="Periodontics">Periodontics</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>

        <ion-list *ngIf="showAdditional">
          <ion-item>
            <ion-select formControlName="uniStaff" label="University Staff" label-placement="floating" interface="popover" mode="md" >
              <ion-select-option value="Yes">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>

        <ion-item *ngIf="showAdditional && uniStaff?.value === 'Yes'">
          <ion-label position="floating">University</ion-label>
          <ion-input formControlName="university"></ion-input>
        </ion-item>

        <ion-item>
          <ion-checkbox formControlName="termsAndConditions"></ion-checkbox>
          <ion-label>Accept <a (click)="openTermsAndConditions()">Terms and Conditions</a></ion-label>
        </ion-item>


      <ion-button expand="block" class="main-button" [disabled]="signupForm.invalid" type="submit">Sign Up</ion-button>

      <div class="sign-up">
        Already have an account? <ion-button color="dark" fill="clear" routerLink="/login" routerDirection="forward">Sign in</ion-button>
      </div>
    </div>
    </form>
  </div>

  <ion-alert
  [isOpen]="isAlertOpen"
  [message]="message"
  [buttons]="['OK']"
  (didDismiss)="alertDismiss()"
></ion-alert>

</ion-content>
