<ion-tabs #ionTabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="marketplace" href="/tabs/marketplace">
      <ion-icon aria-hidden="true" name="storefront"></ion-icon>
      <ion-label>Marketplace</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="orders" href="/tabs/orders">
      <ion-icon aria-hidden="true" name="file-tray-full"></ion-icon>
      <ion-label>Orders</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/account">
      <ion-icon aria-hidden="true" name="person" ></ion-icon>
    <ion-label >Profile</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="support" href="/tabs/support">
      <ion-icon aria-hidden="true" name="information-circle"></ion-icon>
      <ion-label>Info</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="academy" href="/tabs/academy">
      <ion-icon aria-hidden="true" name="school"></ion-icon>
      <ion-label>Academy</ion-label>
    </ion-tab-button>



    <ion-tab-button (click)="navigateToAfterSale()">
      <ion-icon aria-hidden="true" name="construct"></ion-icon>
      <ion-label>After Sale</ion-label>
    </ion-tab-button> -->

  </ion-tab-bar>

</ion-tabs>

<!-- <div class="profile-div" (click)="navigateToAccount()" [hidden]="isKeyboardOpen">
  <ion-icon aria-hidden="true" name="person" class="profile-icon"></ion-icon>
  <ion-label style="font-size: 13px;">Profile</ion-label>
</div> -->


