.header-row {
  background: var(--ion-color-primary);
  color: #fff;
  font-size: 18px;
}

ion-col {
  // border: 1px solid lightgrey;
}

ion-card-content {
  padding: 10px;
  font-size: 17px;
}

ion-card {
  background: white;
    color: var(--ion-color-primary);
    font-weight: bold;
    border-radius: 10px;

}

.add-fab {
  // zoom: 0.7;
}

ion-fab-button {
  --background: var(--ion-color-primary);
}

.device-details {
  font-weight: normal;
}
