<ion-content>
<ion-grid style="margin-top: 40%;">
  <ion-row class="ion-text-center">
    <img src="assets/splash/logo.png" class="logo"/>
  </ion-row>
  <ion-row class="ion-text-center">
    <img src="assets/splash/t.png" class="t"/>
    <img src="assets/splash/d.png" class="d"/>
    <img src="assets/splash/s.png" class="s"/>
  </ion-row>
  <ion-row class="ion-text-center" style="padding-left: 5px; padding-right: 5px;">
    <img src="assets/splash/full-word.png" class="full-word" />
  </ion-row>
</ion-grid>
</ion-content>
