.summary-title {
  font-size: 25px;
  font-weight: bold;
}

.main-label
{
  background: linear-gradient(90deg, rgba(64,64,64, 1) 0%, rgba(128,128,128, 1) 100%);
  /* width: 100%; */
  color: white;
  text-align: center;
  padding-top: 5%;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 4px;
}

input[type="file"] {
  width: 0px;
}
