.summary-title {
  font-size: 25px;
  font-weight: bold;
}

.main-label
{
  background: var(--ion-color-primary);
  /* width: 100%; */
  color: white;
  text-align: center;
  padding-top: 5%;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 10px;
}

input[type="file"] {
display: none;
}
