<ion-content [fullscreen]="true">
  <app-header></app-header>
  <h1 class="ion-text-center">After Sale And Maintenence Service</h1>
  <ion-card (click)="navigateToMaintainenceRequest()">
    <ion-card-content>
        <ion-icon name="newspaper-outline"></ion-icon>
        <ion-label style="margin-top: 20px;">Maintenence Request</ion-label>
    </ion-card-content>
  </ion-card>

  <ion-card routerLink="/request-status">
    <ion-card-content>
        <ion-icon name="options-outline"></ion-icon>
        <ion-label>Request Status</ion-label>
    </ion-card-content>
  </ion-card>

  <h3 class="ion-text-center">To contact After Sale And Maintenence Department please call 01115191868</h3>
</ion-content>

<ion-alert
[isOpen]="isAlertOpen"
message="You need to login first to be able to use after sale services."
[buttons]="['OK']"
(didDismiss)="isAlertOpen = false"
></ion-alert>
