.add-fab {
  zoom: 0.7;
}

ion-fab-button {
  --background: black;
}

ion-col {
  display: flex;
}


img {
  height: 150px;
  width: 100%;
}

ion-card {
  width: 100%;

}


ion-card-header {
  height: 65px;
  padding: 2px;
}

ion-card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  font-weight: bold;
  font-size: medium;
}

ion-card-subtitle {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

ion-card-content {
  text-align: center;
  color: #008ECC;
    font-weight: bold;

}
ion-title {
  padding: 5px;
  text-align: center;
  background: black;
  color: white;
  border: 1px solid white;
}


.category-img {
  width: 100%;
    height: 10vh;
    //border-radius: 5%;
    //background: white;
    padding: 5px;
    //border: 3px solid black;
}

.filter-button {
  margin-bottom: -20px;
  zoom: 0.7;
  --background: black;
}


ion-modal#sort-modal h1 {
  background: black;
  color: white;
  margin: 0px;
  padding: 15px;
}

ion-modal#sort-modal ion-icon {
  margin-right: 6px;

  width: 48px;
  height: 48px;

  padding: 4px 0;
  zoom: 0.6;
  // color: #aaaaaa;
}

ion-modal#sort-modal .wrapper {
  margin-bottom: 10px;
}


.old-price {
  text-decoration-line: line-through;
  text-decoration-color: red;
  font-weight: 100;
}

