<app-header></app-header>


<ion-content [fullscreen]="true">
  <div *ngIf="allOrders.length > 0 && mode !== 'guest'">
  <ion-segment value="current" color="dark" mode="md" [(ngModel)]="segmentValue">
    <ion-segment-button value="current">
      <ion-label>Current Orders</ion-label>
    </ion-segment-button>
    <ion-segment-button value="old">
      <ion-label>History</ion-label>
    </ion-segment-button>
  </ion-segment>


<ion-grid>
  <ion-row *ngFor="let order of (segmentValue === 'current' ? currentOrders : oldOrders)">
    <ion-col>
      <ion-card class="ion-padding" >

        <ion-card-content class="card-sub-title">
          <ion-grid (click)="order.expanded = !order.expanded">
            <ion-row>
              <ion-item>
                <h1 style="font-size: 20px;">  Order No: #{{order.no}} <label [ngClass]="{'pending': order.status === 'Pending', 'inprocess': order.status === 'Inprogress', 'done': order.status === 'Done','incomplete': order.status === 'Incomplete'}">
                  ({{order.status }})
                </label></h1>
                <ion-icon  name="{{ order.expanded ? 'caret-down-outline' : 'caret-forward-outline' }}"  slot="end" ></ion-icon>
              </ion-item>
              <h3 *ngIf="order.status === 'Incomplete'" class="note">Please Upload payment receipt</h3>

            </ion-row>

            <ion-grid class="ion-no-padding ion-no-margin" *ngIf="order.expanded">
              <div *ngFor="let item of order.orderItems">
                <ion-row class="padding-top-bottom" *ngIf="(item.selectedSizesItems ? item.selectedSizesItems  : [] ).length === 0">
                  <ion-col size="5">
                    <h2 class="name">{{item.product.name}}</h2>
                  </ion-col>
                  <ion-col>
                      x {{item.quantity}}
                  </ion-col>
                  <ion-col class="price-col">
                    {{item.quantity * item.price}} EGP
                  </ion-col>
                </ion-row>
                <ion-row class="padding-top-bottom" *ngFor="let sizeItem of item.selectedSizesItems;">
                  <ion-col size="5">
                    <h2 class="name">{{sizeItem.productSize.name}}</h2>
                  </ion-col>
                  <ion-col>
                      x {{sizeItem.quantity}}
                  </ion-col>
                  <ion-col class="price-col">
                    {{sizeItem.quantity * sizeItem.price}} EGP
                  </ion-col>
                </ion-row>
              </div>

              <ion-row>
                <ion-col>
                  <div class="line"></div>

                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-grid>
          <ion-row>
            <ion-item>
              <h2 class="total-price"> Total Price: {{order.totalPrice}} EGP</h2>
              <ion-icon id="hover-trigger" name="attach-outline" slot="end" style="margin-right: -5px; z-index: 100000; zoom: 1.1;" *ngIf="order.status === 'Incomplete'" (click)="actionButtonClick(order)"></ion-icon>
              <ion-icon  name="trash-outline" slot="end" style="margin-right: 5px; z-index: 100000;" *ngIf="order.status === 'Incomplete' || order.status === 'Pending'" (click)="openActionSheet(order)"></ion-icon>

              <!-- <ion-button id="hover-trigger">click</ion-button> -->
              <ion-popover trigger="hover-trigger" triggerAction="hover">
                <ng-template>
                  <ion-content class="ion-padding">Click to upload receipt</ion-content>
                </ng-template>
              </ion-popover>
            </ion-item>

          </ion-row>
        </ion-card-content>
      </ion-card>

    </ion-col>

  </ion-row>



</ion-grid>
</div>

<input #myUploadInput type="file" id="img" name="img" accept="image/*" (change)="onFileChanged($event)" />

<img *ngIf="allOrders.length === 0 && mode !== 'guest'" src="assets/no-order.jpg" style="width: 100%; margin-top: 20%;">

<div *ngIf="mode === 'guest'" style="padding: 10px;">
<ion-grid>
  <ion-row class="ion-padding">
    <ion-col class="ion-text-center">
     <h1 style="font-weight: bold;"> You are not Logged in</h1>
    </ion-col>
  </ion-row>
  <ion-row class="ion-padding" style="margin-top: 10px;">
    <ion-col class="ion-text-center">
      <img src="assets/lock.png">
    </ion-col>
  </ion-row>
  <ion-row class="ion-padding" style="margin-top: 10px;">
    <ion-col class="ion-text-center ion-padding">
      <div class="button-container">
        <ion-button expand="block" class="main-button" routerLink="/login" routerDirection="forward">Navigate to Login</ion-button>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
</div>

</ion-content>

<ion-action-sheet mode="ios"
[isOpen]="isActionSheetOpen"
[buttons]="actionSheetButtons"
(didDismiss)="onActionSheetDismiss($event)"
></ion-action-sheet>
