
.card-title {
  padding-bottom: 5px;
  --color: white !important;
}

.card-sub-title {
  --color: lightgrey !important;
}

ion-card {
  background: white;
    padding: 0px;
    border-radius: 10px;
}

ion-item {
  --background: white !important;
  --color: black !important;
  width: 100%;
}

ion-icon {
  color: black !important;
}

ion-card-content {
  padding: 0px;
}

.total-price {
  padding-left: 7px;
  padding-bottom: 5px;
  font-weight: bold;
}

.name{
  padding-left: 18px;
  padding-bottom: 5px;
  font-weight: bold;
  color: black;
}

.price-col {
  text-align: end;
  padding-right: 30px;
  font-weight: bold;
  color: black;
}

.line {
  border-top: 1px solid white;
  margin: 5px;
}


.pending {
  color: blue;
}

.inprocess {
  color: yellow;
}

.done {
  color: green;
}

.incomplete {
  color: red;
}

input[type="file"] {
 display: none;
}

.note {
  margin-left: 20px;
  color: red;
}
