 <app-header></app-header>

<ion-content>
 <ion-grid>
  <ion-row routerLink="/products">
    <ion-col>
      <img src="assets/categories/fanta-3.jpeg"/>
    </ion-col>
  </ion-row>
  <ion-row routerLink="/products">
    <ion-col>
      <img src="assets/categories/eighteeth.png"/>
    </ion-col>
  </ion-row>
  <ion-row routerLink="/products">
    <ion-col>
      <img src="assets/categories/deppeler.png"/>
    </ion-col>
  </ion-row>
  <ion-row routerLink="/products">
    <ion-col >
      <img src="assets/categories/beyond.png"/>
    </ion-col>
  </ion-row>
  <ion-row routerLink="/products">
    <ion-col>
      <img src="assets/categories/examvision.png"/>
    </ion-col>
  </ion-row>
 </ion-grid>
</ion-content>
