 <app-header></app-header>

<ion-content>

 <ion-grid>
  <ion-row routerLink="/products">
    <ion-col>
      <img src="assets/categories/eighteeth.png" style="padding-right: 10px;"/>
    </ion-col>
  </ion-row>

  <ion-row routerLink="/products">
    <ion-col>
      <img src="assets/categories/fanta.png"/>
    </ion-col>
  </ion-row>

  <ion-row routerLink="/products">
    <ion-col>
      <img src="assets/categories/examvision-2.png"/>
    </ion-col>
  </ion-row>

  <ion-row routerLink="/products">
    <ion-col>
      <img src="assets/categories/deppeler-2.png"/>
    </ion-col>
  </ion-row>
  <ion-row routerLink="/products">
    <ion-col >
      <img src="assets/categories/beyond-2.png"/>
    </ion-col>
  </ion-row>

 </ion-grid>
</ion-content>
