<app-header></app-header>

 <ion-content  *ngIf="cartOrder">
  <ion-list *ngIf="cartOrder.orderItems.length !== 0 && mode !== 'guest'">
    <div  *ngFor="let item of cartOrder.orderItems">
     <ion-item *ngIf="(item.selectedSizesItems ? item.selectedSizesItems  : [] ).length === 0">
       <ion-thumbnail slot="start">
         <img [src]="getImgUrl(item.product.img)">
       </ion-thumbnail>
       <ion-label>
         <h2>{{ item.product.name }}</h2>
         <p>{{ item.product.description }}</p>
         <p>Price: {{  getProductUpdatedPrice(item.product.id) }}</p>
         <p>Quantity: {{ item.quantity }}</p>
       </ion-label>
       <ion-icon name="create-outline" color="dark" class="edit-icon" [routerLink]="['/product-details',{productId: item.product.id}]"></ion-icon>
       <ion-icon name="trash-outline" color="dark" (click)="removeProductFromCart(item.product, undefined)"></ion-icon>
       <!-- <ion-button slot="end">Remove</ion-button> -->
     </ion-item>
     <ion-item *ngFor="let sizeItem of item.selectedSizesItems;">
      <ion-thumbnail slot="start">
        <img [src]="getImgUrl(item.product.img)">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ sizeItem.productSize.name }}</h2>
        <p>{{ item.product.description }}</p>
        <p>Price: {{ getProductSizeUpdatedPrice(item.product.id, sizeItem.productSize.id) }}</p>
        <p>Quantity: {{ sizeItem.quantity }}</p>
      </ion-label>
      <ion-icon name="create-outline" color="dark" class="edit-icon" [routerLink]="['/product-details',{productId: item.product.id}]"></ion-icon>
      <ion-icon name="trash-outline" color="dark" (click)="removeProductFromCart(item.product, sizeItem.productSizeId)"></ion-icon>
      <!-- <ion-button slot="end">Remove</ion-button> -->
    </ion-item>
    </div>
  </ion-list>

  <ion-card *ngIf="cartOrder.orderItems.length !== 0  && mode !== 'guest'">
     <ion-card-header>
       <ion-card-title>Cart Summary</ion-card-title>
     </ion-card-header>
     <ion-card-content>
       <p class="ion-padding-bottom">Total: {{totalPrice}} EGP</p>
       <ion-button expand="block" class="main-button" routerLink="/checkout">Checkout</ion-button>
     </ion-card-content>
  </ion-card>

  <img *ngIf="cartOrder.orderItems.length === 0 && mode !== 'guest'" src="assets/empty-cart.png" style="width: 100%; margin-top: 20%;">

  <div *ngIf="mode === 'guest'">
    <ion-grid>
      <ion-row class="ion-padding">
        <ion-col class="ion-text-center">
         <h1 style="font-weight: bold;"> You are not Logged in</h1>
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding">
        <ion-col class="ion-text-center">
          <img src="assets/lock.png">
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding">
        <ion-col class="ion-text-center ion-padding">
          <div class="button-container">
            <ion-button expand="block" class="main-button" routerLink="/login" routerDirection="forward">Navigate to Login</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    </div>

 </ion-content>
