ion-thumbnail {
  width: 80px;
  height: 80px;

}

ion-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 12px;
}

.edit-icon {
  margin-right: 40px;
}


ion-card {
  --color: var(--ion-color-primary);
  border-radius: 10px;
}

ion-card-title {
  font-weight: bold;
}

p {
  font-weight: bold;
}

h2 {
  font-weight: bold;
}
