<app-header></app-header>


<ion-content class="ion-padding">
  <div class="ion-padding container" *ngIf="profileForm">
    <h1>Change Profile Info</h1>
    <form [formGroup]="profileForm" (ngSubmit)="save()">

    <div class="form-container">
      <ion-list>
        <ion-item>
          <ion-select label="Title" label-placement="floating" interface="popover"  mode="md" formControlName="title">
            <ion-select-option value="Mr.">Mr.</ion-select-option>
            <ion-select-option value="Dr.">Dr.</ion-select-option>
            <ion-select-option value="TA.">TA.</ion-select-option>
            <ion-select-option value="Prof.">Prof.</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>

      <ion-item>
        <ion-label position="floating">Full Name</ion-label>
        <ion-input formControlName="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" >Email</ion-label>
        <ion-input formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Phone</ion-label>
        <ion-input  formControlName="phone"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Address</ion-label>
        <ion-input formControlName="address"></ion-input>
      </ion-item>

      <ion-item >
        <ion-label position="floating">Age</ion-label>
        <ion-input type="number" formControlName="age"></ion-input>
      </ion-item>

      <ion-list >
        <ion-item>
          <ion-select label="Speciality" label-placement="floating" interface="popover" mode="md" formControlName="speciality">
            <ion-select-option value="GP">GP</ion-select-option>
            <ion-select-option value="Restorative">Restorative</ion-select-option>
            <ion-select-option value="Endodontics">Endodontics</ion-select-option>
            <ion-select-option value="Prosthodontics">Prosthodontics</ion-select-option>
            <ion-select-option value="Surgery">Surgery</ion-select-option>
            <ion-select-option value="Implantology">Implantology</ion-select-option>
            <ion-select-option value="Pedodontics">Pedodontics</ion-select-option>
            <ion-select-option value="Orthodontics">Orthodontics</ion-select-option>
            <ion-select-option value="Periodontics">Periodontics</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>

      <ion-list>
        <ion-item>
          <ion-select label="University Staff" label-placement="floating" interface="popover" mode="md" formControlName="uniStaff">
            <ion-select-option value="Yes">Yes</ion-select-option>
            <ion-select-option value="No">No</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>

      <ion-item *ngIf="uniStaff === 'Yes'">
        <ion-label position="floating">University</ion-label>
        <ion-input formControlName="university"></ion-input>
      </ion-item>


      <ion-button expand="block" class="main-button" type="submit" [disabled]="profileForm.invalid || profileForm.pristine">Save</ion-button>


    </div>
    </form>
  </div>
</ion-content>

<ion-alert
[isOpen]="isAlertOpen"
[message]="message"
[buttons]="['OK']"
(didDismiss)="alertDismiss()"
></ion-alert>
