<app-header></app-header>

<ion-content [fullscreen]="true" *ngIf="order">
  <ion-grid>
    <ion-row>
      <ion-col class="summary-title ion-text-center">
        Order summary
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card class="ion-padding">

    <ion-card-content class="card-sub-title">


    <ion-grid class="ion-no-padding ion-no-margin">
      <ion-row>
        <ion-col class="ion-padding">
          <h1 style="font-weight: bold;">  Order Details:</h1>

        </ion-col>
    </ion-row>
    <div *ngFor="let item of order?.orderItems" >
      <ion-row class="padding-top-bottom" *ngIf="(item.selectedSizesItems ? item.selectedSizesItems  : [] ).length === 0">
        <ion-col size="5">
          <h2 class="name">{{item.product.name}}</h2>
        </ion-col>
        <ion-col>
            x {{item.quantity}}
        </ion-col>
        <ion-col class="price-col">
          {{item.quantity * getProductUpdatedPrice(item.product.id)}} EGP
        </ion-col>
      </ion-row>
      <ion-row class="padding-top-bottom" *ngFor="let sizeItem of item.selectedSizesItems;">
        <ion-col size="5">
          <h2 class="name">{{sizeItem.productSize.name}}</h2>
        </ion-col>
        <ion-col>
            x {{sizeItem.quantity}}
        </ion-col>
        <ion-col class="price-col">
          {{sizeItem.quantity * getProductSizeUpdatedPrice(item.product.id, sizeItem.productSize.id)}} EGP
        </ion-col>
      </ion-row>
    </div>

      <ion-row class="padding-top-bottom" *ngIf="(area?.price === 0 || area?.price) && order?.paymentMethod !== 'pickup'">
          <ion-col size="5">
            <h2 class="name">Delivery Fees</h2>
          </ion-col>
          <ion-col>
          </ion-col>
          <ion-col class="price-col">
            {{area.price}} EGP
          </ion-col>
      </ion-row>
      <ion-row class="padding-top-bottom" style="color: limegreen;" *ngIf="notNan(getDiscount()) && getDiscount() !== 0">
        <ion-col size="5">
          <h2 class="name">Discount</h2>
        </ion-col>
        <ion-col>
        </ion-col>
        <ion-col class="price-col">
          {{getDiscount()}} EGP
        </ion-col>
    </ion-row>
      <ion-row >
        <ion-col>
          <div class="line"></div>

        </ion-col>
      </ion-row>
      <ion-row class="padding-top-bottom">
        <h2 class="total-price"> Total Price: {{totalPrice}} EGP</h2>
      </ion-row>
    </ion-grid>

</ion-card-content>
</ion-card>
<ion-card class="ion-padding">
  <ion-card-content class="card-sub-title">
  <ion-grid class="ion-no-padding ion-no-margin">
    <ion-row>
      <ion-col class="ion-padding" style="padding-bottom: 0px;">
        <h1 style="font-weight: bold;">     Your Delivery Address:
        </h1>
      </ion-col>
  </ion-row>
  <ion-row>
    <ion-list class="address-list">
      <ion-item class="address-item">
        <ion-select class="checkout" label="City" label-placement="floating" interface="popover" mode="md" [(ngModel)]="city">
          <div *ngFor="let cityItem of cities;" >
            <ion-select-option [value]="cityItem">{{cityItem.name}}</ion-select-option>
          </div>
        </ion-select>
      </ion-item>
    </ion-list>

  </ion-row>
  <ion-row>
    <ion-list *ngIf="city"  class="address-list">
      <ion-item class="address-item">
        <ion-select class="checkout" label="Area" label-placement="floating" interface="popover" mode="md" [(ngModel)]="area" (ngModelChange)="calculateOrderTotalPrice()">
          <div *ngFor="let araeItem of city?.areas;" >
            <ion-select-option [value]="araeItem">{{araeItem.name}}</ion-select-option>
          </div>
        </ion-select>
      </ion-item>
    </ion-list>
  </ion-row>
    <ion-row class="padding-top-bottom">
      <ion-col >
        <ion-item *ngIf="editAddress">
          <ion-input [(ngModel)]="address" placeholder="Apartment / Building / Street"></ion-input>
        </ion-item>
        <!-- <ion-item lines="none" *ngIf="!editAddress">
          <h2 >{{address}}</h2>
          <ion-icon slot="end" name="create" (click)="editAddress = !editAddress"></ion-icon>
        </ion-item> -->
      </ion-col>
      <!-- <ion-col *ngIf="editAddress" size="2">
        <ion-icon name="checkmark-done-circle-outline" style="zoom: 3;padding-top: 8px;" (click)="editAddress = !editAddress"></ion-icon>
      </ion-col> -->
      </ion-row>
      <!-- <ion-row>
        <ion-col class="ion-text-center ion-padding">
          <div class="button-container">
            <ion-button expand="block" class="main-button">Select location on google map</ion-button>
          </div>
        </ion-col>
      </ion-row> -->
      <ion-row class="padding-top-bottom">
        <ion-col >
          <ion-item *ngIf="editAddress">
            <ion-input [(ngModel)]="googleMapAddressDetails" placeholder="Select Location on Google Map" (click)="selectLocationOnMap()" readonly="true" [(ngModel)]="location.name"></ion-input>
          </ion-item>
        </ion-col>
        </ion-row>
      </ion-grid>
  </ion-card-content>
  </ion-card>


<ion-card class="ion-padding">
  <ion-card-content class="card-sub-title">
  <ion-grid class="ion-no-padding ion-no-margin">


    <ion-row class="padding-top-bottom">
      <ion-col size="10">
        <ion-item>
          <ion-input [(ngModel)]="promoCode" placeholder="Enter PromoCode"></ion-input>
        </ion-item>

      </ion-col>
      <!-- <ion-col size="4" class="ion-text-center ion-padding">
        <div class="button-container">
          <ion-button expand="block" class="main-button" (click)="calculateOrderTotalPrice()">Apply</ion-button>
        </div>
      </ion-col> -->
        <ion-col size="2">
        <ion-icon  name="checkmark-done-circle-outline" style="zoom: 3;padding-top: 8px;" (click)="calculateOrderTotalPrice(false, true)"></ion-icon>
      </ion-col>
      </ion-row>


      </ion-grid>
  </ion-card-content>
  </ion-card>



<ion-grid>
  <ion-row>
    <ion-col class="sub-title">
      Payment Methods Instructions:
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-text-center payments" (click)="openPaymentInstructionsModal('instapay')">

      <img src="assets/instapay.png">

    </ion-col>
    <ion-col class="ion-text-center payments" (click)="openPaymentInstructionsModal('vodafone-cash')">

      <img src="assets/vodafone-cash.jpeg" style="margin-top: 5px;">

    </ion-col>
    <ion-col class="ion-text-center payments" (click)="openPaymentInstructionsModal('etisalat-cash')">

      <img src="assets/etisalat-cash.jpg" style="zoom: 0.113;">

    </ion-col>
    <!-- <ion-col class="ion-text-center payments">

      <img src="assets/cash.png" style="width: 80%; height: 80%;">

    </ion-col> -->
  </ion-row>

  <ion-row>
    <ion-col class="sub-title">
      Select your preferred method:
    </ion-col>
  </ion-row>
  <ion-row>
      <ion-radio-group value="cash" [(ngModel)]="paymentMethod" (ngModelChange)="calculateOrderTotalPrice(true)">
        <ion-row class="ion-padding padding-top-bottom">
          <ion-radio value="instapay" labelPlacement="end" >Pay via Instapay</ion-radio>
        </ion-row>
        <ion-row class="ion-padding padding-top-bottom">
          <ion-radio value="vodafone-cash" labelPlacement="end" >Pay via Vodafone Cash</ion-radio>
        </ion-row>
        <ion-row class="ion-padding padding-top-bottom">
          <ion-radio value="etisalat-cash" labelPlacement="end">Pay via Etisalat Cash</ion-radio>
        </ion-row>
        <ion-row class="ion-padding padding-top-bottom" *ngIf="showCashOnDelivery">
          <ion-radio value="cash" labelPlacement="end">Cash on Delivery</ion-radio>
        </ion-row>
        <!-- <ion-row class="ion-padding padding-top-bottom">
          <ion-radio value="pickup" labelPlacement="end">Pickup from TDS</ion-radio>
        </ion-row> -->
      </ion-radio-group>
  </ion-row>

  <ion-row>
    <ion-col class="note">
      Note: If you select to pay via Instapay or Vodafone cash or Etisalat cash you will need to upload a screenshot from the payment receipt after submitting your order to complete it.
    </ion-col>
  </ion-row>


  <ion-row class="ion-text-center buttons-bottom " style="justify-content: center;">
    <div class="button-container" style="width: 85%;">
    <ion-button expand="block" class="main-button" (click)="createOrder()">Submit</ion-button>
    </div>
  </ion-row>
</ion-grid>

<ion-alert
[isOpen]="isAlertOpen"
[message]="message"
[buttons]="['OK']"
(didDismiss)="alertDismiss()"
></ion-alert>

</ion-content>
