.card-title {
  padding-bottom: 5px;
  --color: white !important;
}

.card-sub-title {
  --color: lightgrey !important;
}

ion-card {
  background: black;
  padding: 0px;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

ion-item {
  --background: black !important;
  --color: white !important;
  width: 100%;
  --border-color: white;
    padding-right: 20px;

}

ion-icon {
  color: white !important;
}

ion-card-content {
  padding: 0px;
}

.total-price {
  padding-left: 20px;
  padding-bottom: 5px;
}

.name{
  padding-left: 18px;
  padding-bottom: 5px;
}

.price-col {
  text-align: end;
  padding-right: 30px;
}

.line {
  border-top: 1px solid white;
  margin: 5px;
}


.padding-top-bottom {
  padding-top: 5px;
  padding-bottom: 5px;
}

.summary-title {
  font-size: 25px;
  font-weight: bold;
}

.sub-title {
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 5px;
}

ion-radio {
  --color-checked: black !important;
}

.note {
  color: red;
  font-size: 15px;
  padding: 20px;
}

.payments {
  padding: 7px;
}
