// This will remove iOS Header Line
ion-toolbar {
    --border-width: 0 !important;
    --background: transparent !important;
  }

  // Removing Android Header Line
  .header-md::after {
    background: none !important;
  }

  .container h1 {

    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
    color: var(--ion-color-primary);
    font-weight: bold;
  }

  .backbtn {
    margin-left: 20px;
  }

  ion-label {
    color: #A6A6A6 !important;
  }

  .error-container {
    span {
        color: red;
    }
  }



ion-item {
  --background: white !important;
    --border-color: darkgrey !important;
    --border-radius: 25px;
    margin-top: 5px;
    --padding-start: 10px !important;
    margin-bottom: 50px;
}
