<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="backbtn" routerLink="/login" routerDirection="back">
        <img src="assets/back-dark.svg" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding container">
  <div style="padding: 20px;">
    <h1>Reset Password</h1>
    <div *ngIf="emailStep">
      <form [formGroup]="userEmailForm">
      <ion-item>
        <ion-label position="floating">Email Address *</ion-label>
        <ion-input type="email" formControlName="userEmail"></ion-input>
      </ion-item>
      <ion-button expand="block" class="main-button" style="margin-top: 20px;" [disabled]="userEmailForm.invalid" (click)="sendCode()">Send Verification
        Code</ion-button>
      </form>
    </div>

    <div *ngIf="verifyStep">
      <form [formGroup]="codeForm">
      <ion-item>
        <ion-label position="floating">Verification Code *</ion-label>
        <ion-input type="tel" maxlength="6" formControlName="code"></ion-input>
      </ion-item>
      <ion-button expand="block" class="main-button" style="margin-top: 20px;" [disabled]="codeForm.invalid" (click)="verifyCode()">Verify Code</ion-button>
      <div *ngIf="isVerificationFailed" style="margin-bottom: 10px;">
        <ion-text color="danger">
          Verification Failed. Please try again.
        </ion-text>
      </div>
      <div class="flex flex-column align-items-center">
        <span>Didn't receive code?</span>
        <ion-button color="dark" fill="clear" (click)="sendCode()">Resend Verification Code</ion-button>
      </div>
    </form>
    </div>

    <div *ngIf="resetPasswordStep">
      <form [formGroup]="passwordForm">
      <ion-item>
        <ion-label position="floating">New Password *</ion-label>
        <ion-input type="{{ showPassword ? 'text' : 'password' }}" formControlName="password"></ion-input>
        <ion-icon name="{{ showPassword ? 'eye-off' : 'eye' }}" slot="end"
          (click)="togglePasswordVisibility()"></ion-icon>
      </ion-item>
      <div class="error-container" *ngIf="password?.invalid && (password?.dirty || password?.touched)">
        <span *ngIf="password?.errors?.required">
          Password is required
        </span>
        <span *ngIf="password?.errors?.pattern">
          Password must contain one digit from 1 to 9, one lowercase letter, one uppercase letter, one special character, no space, and it must be 8-16 characters long.
        </span>
      </div>
      <ion-item>
        <ion-label position="floating">Confirm New Password *</ion-label>
        <ion-input type="{{ showPassword ? 'text' : 'password' }}" formControlName="confirmPassword"></ion-input>
        <ion-icon name="{{ showPassword ? 'eye-off' : 'eye' }}" slot="end"
          (click)="togglePasswordVisibility()"></ion-icon>
      </ion-item>
      <div class="error-container" *ngIf="confirmPassword?.invalid && (confirmPassword?.dirty || confirmPassword?.touched)">
        <span *ngIf="confirmPassword?.errors?.required">
          Password is required
        </span>
        <span *ngIf="confirmPassword?.errors?.pattern">
          Password must contain one digit from 1 to 9, one lowercase letter, one uppercase letter, one special character, no space, and it must be 8-16 characters long.
        </span>
        <span *ngIf="confirmPassword?.errors?.notMatch">
          Passwords must match
        </span>
      </div>

      <ion-button expand="block" class="main-button" style="margin-top: 20px;" [disabled]="passwordForm.invalid || !passwordsMatch" (click)="resetPassword()">Reset Password</ion-button>
    </form>
    </div>
  </div>

</ion-content>
